.bodybg{
    -fx-background-image: url(background.jpg);
}

.logopng{
    -fx-background-image: url(logo_frenzy.png);
    -fx-background-size: cover;
}

.custom {
    -fx-control-inner-background: rgb(200,200,200);
}